@mixin m-menu-theme($has-bg-color:false) {
  @if($has-bg-color) {
    background-color: var(--el-menu-bg-color) !important;
  }
  color: var(--el-menu-text-color) !important;
  border-color: var(--el-menu-border-color) !important;
}

@mixin m-menu-theme-hover {
  &:hover {
    background-color: var(--el-menu-hover-bg-color) !important;
  }
}

.m-flex {
  display: flex;
  &.wc {
    justify-content: center;
  }
  &.hc {
    align-items: center;
  }
  &.whc {
    justify-content: center;
    align-items: center;
  }
}

.m-line {
  border-top: var(--m-border);
  border-bottom: var(--m-border);
  height: 0.02rem;
}

.m-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  max-width: 100%;
}

@keyframes upDownFloat {
  from {
    transform: translateY(0);
  }

  to {
    opacity: 0.6;
    transform: translateY(-0.16rem);
  }
}
