@font-face {
  font-family: "iconfont"; /* Project id 3797955 */
  src: url('iconfont.woff2?t=1675654115465') format('woff2'),
       url('iconfont.woff?t=1675654115465') format('woff'),
       url('iconfont.ttf?t=1675654115465') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-emoji_line:before {
  content: "\e638";
}

.icon-ic_userlevel_:before {
  content: "\e6cb";
}

.icon-ic_userlevel_1:before {
  content: "\e6cc";
}

.icon-ic_userlevel_2:before {
  content: "\e6cd";
}

.icon-ic_userlevel_3:before {
  content: "\e6ce";
}

.icon-ic_userlevel_4:before {
  content: "\e6cf";
}

.icon-ic_userlevel_5:before {
  content: "\e6d0";
}

.icon-ic_userlevel_6:before {
  content: "\e6d1";
}

.icon-dislike:before {
  content: "\e726";
}

.icon-like:before {
  content: "\e73b";
}

